---
import DownloadIcon from "../assets/donwload.svg";
const pdfPath = "/catalogo.pdf";
---

<a
  href={pdfPath}
  download
  class="flex items-center justify-center bg-yellow-500 hover:bg-yellow-600 transition rounded-full text-xl font-base px-4 py-2 cursor-pointer"
  aria-label="Descargar catálogo en PDF"
>
  Descargar catálogo
  <DownloadIcon class="ml-2 p-1 size-8 bg-gray-100 rounded-full" />
</a>
