---
import DownloadIcon from "../assets/donwload.svg";
const pdfPath = "/catalogo.pdf";
---

<a
  href={pdfPath}
  download
  class="group flex items-center justify-center bg-yellow-500 hover:bg-yellow-600 transition-all duration-300 ease-in-out rounded-full text-xl font-medium px-6 py-1 cursor-pointer transform hover:scale-105"
  aria-label="Descargar catálogo en PDF"
>
  <span
    class="text-black group-hover:text-white transition-colors duration-300"
  >
    Descargar catálogo
  </span>

  <span
    class="ml-3 flex items-center justify-center p-2 size-10 bg-white group-hover:bg-black rounded-full transition-all duration-300"
  >
    <DownloadIcon
      class="text-black group-hover:text-white size-6 transition-colors duration-300"
    />
  </span>
</a>
