---
import DownloadIcon from "../assets/donwload.svg";
---

<button
    class="flex cursor-pointer items-center justify-center bg-yellow-500 hover:bg-yellow-600 transition rounded-full text-xl font-base px-4 py-2"
>
    Descargar catalogo
    <DownloadIcon class="ml-2 p-1 size-8 bg-gray-100 rounded-full" />
</button>
