---
import ButtonDownload from "./ButtonDownload.astro";
import Container from "./Container.astro";
---

<Container>
  <div class="relative h-58 w-full rounded-2xl flex mb-28 overflow-hidden">
    <!-- Imagen -->
    <img
      src="/images/granja-rodriz-hero.webp"
      class="rounded-2xl object-cover w-full h-full"
      alt="Cat치logo Granjas Rodri - Producto y Servicios"
    />

    <!-- M치scara de degradado -->
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/30 to-transparent rounded-2xl"
    >
    </div>

    <!-- Contenido -->
    <div
      class="absolute inset-0 flex flex-col lg:flex-row items-center lg:items-center justify-center lg:justify-between sm:px-16 w-full h-full"
    >
      <!-- Texto a la izquierda en desktop -->
      <h2
        class="text-white text-center lg:text-left text-2xl sm:text-2xl lg:text-5xl font-bold leading-tight"
      >
        Lleva a la mano <br />
        nuestro cat치logo
      </h2>

      <!-- Bot칩n a la derecha en desktop -->
      <div class="mt-4 mb-4 lg:mt-0">
        <ButtonDownload class="scale-90 lg:scale-120" />
      </div>
    </div>
  </div>
</Container>
