---
import ButtonDownload from "./ButtonDownload.astro";
import Container from "./Container.astro";
---

<Container>
    <div class="relative h-58 w-full rounded-2xl flex mb-28 overflow-hidden">
        <!-- Imagen -->
        <img
            src="/public/images/granja-rodriz-hero.webp"
            class="rounded-2xl object-cover w-full h-full"
            alt=""
        />

        <!-- Máscara de degradado -->
        <div
            class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/30 to-transparent rounded-2xl"
        >
        </div>

        <div class="absolute inset-0 flex mt-18 items-start px-6 text-white">
            <h2 class="text-5xl font-bold">
                Lleva a la mano <br />
                nuestro catalogo
            </h2>
            <ButtonDownload />
        </div>
    </div>
</Container>
