---
import Container from "./Container.astro";
---

<Container>
  <section
    class="flex flex-col lg:flex-row items-center gap-8 mt-30 mb-30 animate-slide-up-fade"
  >
    <!-- Imagen + Título -->
    <div class="relative w-full lg:w-1/2">
      <!-- Círculo amarillo detrás de la imagen -->
      <div class="absolute inset-0 flex justify-center items-center">
        <div class="bg-yellow-400 rounded-full w-72 h-72 lg:w-96 lg:h-96 -z-10">
        </div>
      </div>

      <!-- Título arriba de la imagen -->
      <h2 class="relative text-black text-5xl font-bold z-10">Productos</h2>

      <img
        src="/images/duroc2.webp"
        alt="Cerdos producto de Granjas Rodriz"
        class="rounded-xl w-full h-auto object-cover mt-6 relative z-10"
      />
    </div>

    <!-- Texto + Botones -->
    <div class="w-full lg:w-1/2 flex flex-col justify-center items-start gap-6">
      <p class="text-lg text-gray-700">
        Descubrí nuestras líneas genéticas de cerdos de alta calidad. Criados
        bajo estrictos estándares para garantizar excelencia en cada ejemplar.
      </p>

      <div
        class="flex items-center justify-center sm:gap-38 gap-32 flex-row sm:flex-row"
      >
        <a
          href="/male"
          class="bg-pink-300 rounded-full px-4 py-2 hover:bg-pink-400 hover:text-white transition duration-300 ease-in-out"
        >
          Ver machos
        </a>
        <a
          href="/female"
          class="bg-pink-300 rounded-full px-4 py-2 hover:bg-pink-400 hover:text-white transition duration-300 ease-in-out"
        >
          Ver hembras
        </a>
      </div>
    </div>
  </section>
</Container>
